/* universal styles */
*{
    margin: 0 auto;
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
}
body{
    background-color: rgba(245, 245, 245, 1.00);
}
nav,section,header,footer{
    width: 1280px;  
    
}
section,header,footer{
    margin-bottom: 80px;
}
.main-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    color: white;
}
.main-btn:hover{
    background-color: white;
    color: #006A50;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    gap: 940px;
    margin: 31px auto ;
    margin-bottom: 44px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold; 
}
.nav-btn{
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.nav-btn:hover{
    background-color: rgb(0, 106, 80);
    color: white;
}
img{
    mix-blend-mode:multiply;
}
/* header styles */
header{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.header-col1{
    margin-left: 60px ;
    background-color: rgb(198, 228, 214);
}
.header-col2{
    margin-right: 60px;
    background-color: rgb(198, 228, 214);
    background: rgb(198, 228, 214);;
}
.header-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(198, 228, 214);
}
.header-title{
    font-weight: bold;
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
    background-color: rgb(198, 228, 214);
}
/* piller styles */
.piller-title{
    margin-bottom: 32px;
}
.piller-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.piller-card{
    width: 302px;
    padding: 24px;
    background-color: white;
    border-radius: 16px;

}
.piller-card:hover{
    background-color: grey;
}
.piller-img{
    margin-bottom: 24px;
}
.piller-card-title{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.piller-card-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
/* vision styles */
.vision-title{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
}
.vision-description{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision-card{
    border-radius: 16px;
    padding: 32px;
    width: 410.67px;
    /* display: flex;
    flex-direction: column;
    margin-left: 0;
    justify-content: space-between; */
 
}
.vision-card-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-left: 0;
    opacity: 0.7;
}
.vision-card-title{
    margin-left: 0;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 12px;
    opacity: 0.8;
}
.vission-btn1{
    margin-left: 0;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 24px;
}
.vission-btn2{
    margin-left: 0;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92); 
    font-size: 16px;
    font-weight: 600;
    color: white;  
    margin-top: 24px; 
    margin-bottom: 0;
}
.vission-btn3{
    margin-left: 0;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 24px;
}
.vision-card img{
    margin-left: 0;
}
.vission-btn1:hover, .vission-btn2:hover, .vission-btn3:hover{
    background:transparent;
    color: black;
    border: 1px dashed white;
}
/* quote styles */

.quote{
    background-color: white;
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 22px;
    width: 1232px;
}
.quote-quote{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
.quote-name{
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
}
.quote-info{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}